<form action"/signin" method="post">
  <input type="text" id="email" name="email" class="form-control">
  <input type="text" id="password" name="password" class="form-control">
  <button type="sumbit" class="btn btn-primary">Sign In</button>
</form>
