/*


.logo {
  background: black;
  font-family: "Palatino", serif;
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 100px;
  color: white;
  line-height: 100px;
  padding: 50px 20px 40px 120px;
  float: right;
  vertical-align: center;
}


p { 
    letter-spacing: 3px;
   color: #f2f2f2; 
  /* background: #ff4a4a; */
  font-size: 55px;
  line-height: 77px;
  margin: 0 5px 24px;
  /* float: left; */
  padding: 10px;
  margin: 0 5px 24px;
  font-family: "Palatino", serif;
  font-weight: normal;
}


.punchline p { 
  background: #f2f2f2; 
  color: #ff4a4a; 
}*/

